<h1>web.burza.NOMZ</h1>



<form name="form">
    <p>
        <input ng-model="name" name="name" placeholder="your name" required />
        <span class="error" ng-show="form.name.$error.required">Required!</span>
    </p>
    <p>
        <input ng-model="nom" name="nom" placeholder="your nom" required />
        <span class="error" ng-show="form.nom.$error.required">Required!</span>
    </p>
    <p>
        <input type="number" name="price" ng-model="price" placeholder="price" min="1" required /> kn
        <span class="error" ng-show="form.price.$error.required">Required, number only!</span>
    </p>
    <button ng-click="addNom()">Add</button>
</form>






<table>
    <thead>
        <th>Name</th>
        <th>Nom</th>
        <th>Price</th>
        <th>Time</th>
    </thead>
    <tbody>
        <tr ng-repeat="thing in nomz | orderBy:'thing.date'">
            <td>{{ thing.name }}</td>
            <td>{{ thing.nom }}</td>
            <td>{{ thing.price }}</td>
            <td>{{ thing.date | date:'dd.MM.yy @ HH:ss' }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">{{ total | currency: 'HRK' }}</th>
        </tr>
    </tfoot>
</table>