<h1>web.burza.NOMZ</h1>



<form name="restaurantForm" novalidate ng-submit="addRestaurant(restaurantForm)" ng-show="auth.user && superUser">
    <p>
        <input ng-model="restaurantName" name="restaurantName" placeholder="* Name" required />
        <span class="error" ng-show="restaurantForm.restaurantName.$error.required && (restaurantForm.restaurantName.$dirty || restaurantSubmitted)">Required!</span>
    </p>
    <p>
        <input type="url" ng-model="restaurantURL" name="restaurantURL" placeholder="URL" http-prefix />
        <span class="error" ng-show="restaurantForm.restaurantURL.$error.url && restaurantSubmitted">Not a valid URL!</span>
    </p>
    <button type="submit">Add</button>
</form>

<form name="form" novalidate ng-submit="addNom(form)" ng-show="auth.user">
    <p>
        <input ng-model="name" name="name" placeholder="* your name" required />
        <span class="error" ng-show="form.name.$error.required && (form.name.$dirty || nomSubmitted)">Required!</span>
    </p>
    <p>
        <input ng-model="nom" name="nom" placeholder="* your nom" required />
        <span class="error" ng-show="form.nom.$error.required && (form.nom.$dirty || nomSubmitted)">Required!</span>
    </p>
    <p>
        <input type="number" name="price" ng-model="price" placeholder="* price" min="1" required /> kn
        <span class="error" ng-show="form.price.$error.required && (form.price.$dirty || nomSubmitted)">Required, number only!</span>
    </p>
    <button type="submit">Add</button>
</form>






<table>
    <thead>
        <th>Name</th>
        <th>Nom</th>
        <th>Price</th>
        <th>Time</th>
    </thead>
    <tbody>
        <tr ng-repeat="thing in nomz | orderByPriority | orderBy:'-date'">
            <td><span editable-text="thing.name" e-name="name" e-form="rowform">{{ thing.name }}</span></td>
            <td><span editable-text="thing.nom" e-name="nom" e-form="rowform">{{ thing.nom }}</span></td>
            <td><span editable-text="thing.price" e-name="price" e-form="rowform">{{ thing.price }}</span></td>
            <td>{{ thing.date | date:'HH:ss' }}</td>
            <td ng-show="auth.user && auth.user.id == thing.userID">

                <a href="#" ng-click="removeNom(thing.$id)">remove</a>
                <a ng-click="rowform.$show()">edit</a>

                <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary" ng-click="updateNom(thing.$id)">
                    save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                    cancel
                    </button>
                </form>

            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">{{ total | currency: 'HRK' }}</th>
        </tr>
    </tfoot>
</table>



<a href="#" ng-click="login('anonymous')" ng-show="!auth.user">login</a>
<a href="#" ng-click="logout()" ng-show="auth.user">logout</a>