<div class="container">

    <h1><img src="images/logo.png" width="958" height="273" alt="web.burza NOMZ" /></h1>

    <div class="content">

        <h2>Today's menu <a ng-show="superUser" ng-click="showEditForm('addRestaurant');" class="addRestaurant-btn"><span class="fa fa-plus-circle"></span></a></h2>

        <div ng-if="!restaurantsLength" class="restaurant-info">
            <h3>Nothing added for today. How about you pick something from <a href="http:www.pauza.hr/">pauza.hr</a>. <span>(You can always order potatoes from Dragaš :-)</span></h3>
            <!--p class="dummy-food"><img src="http://lorempixel.com/500/300/food/" /></p-->
        </div>


        <ul ng-if="restaurantsLength" class="restaurants">
            <li ng-repeat="restaurant in restaurants | orderByPriority | orderBy:'-date'">

                <span class="dot fa fa-circle"></span>
                <span ng-if="restaurant.url"><a href="{{ restaurant.url }}">{{ restaurant.name }}</a></span>
                <span ng-if="restaurant.name && !restaurant.url">{{ restaurant.name }}</span>


                <div ng-show="superUser">

                    <a class="action remove" title="Remove this restaurant" ng-click="removeRestaurant(restaurant.$id)" ng-show="!restaurantRow.$visible"><span class="fa fa-times-circle"></span></a>
                    <a class="action edit" title="Edit this restaurant" ng-click="restaurantRow.$show();" ng-show="!restaurantRow.$visible"><span class="fa fa-pencil-square-o"></span></a>

                    <form editable-form name="restaurantRow" class="main-edit-form" id="{{ restaurant.$id }}" onshow="showEditForm(restaurant.$id);" oncancel="hideEditForm(restaurant.$id);" onaftersave="hideEditForm(restaurant.$id);" blur="cancel">

                        <p class="edit-title">Edit this restaurant</p>

                        <span editable-text="restaurant.name" e-name="restaurantName" e-form="restaurantRow"></span>
                        <span editable-text="restaurant.url" e-name="restaurantURL" e-form="restaurantRow"></span>

                        <button type="submit" ng-disabled="restaurantRow.$waiting" ng-click="updateRestaurant(restaurant.$id)" class="save">
                            <span class="fa fa-check"></span> save
                        </button>
                        <button type="button" ng-disabled="restaurantRow.$waiting" ng-click="restaurantRow.$cancel()" class="cancel">
                            <span class="fa fa-remove"></span> cancel
                        </button>

                    </form>
                </div>

            </li>
        </ul>


        <form name="restaurantForm" class="main-edit-form" novalidate ng-submit="addRestaurant(restaurantForm)" ng-show="superUser" id="addRestaurant">
            <p class="edit-title">Add restaurant</p>
            <p>
                <input ng-model="restaurantName" name="restaurantName" placeholder="* Restaurant name" required />
                <span class="error" ng-show="restaurantForm.restaurantName.$error.required && (restaurantForm.restaurantName.$dirty || restaurantSubmitted)">Required!</span>
            </p>
            <p>
                <input type="url" ng-model="restaurantURL" name="restaurantURL" placeholder="Restaurant URL" http-prefix />
                <span class="error" ng-show="restaurantForm.restaurantURL.$error.url && restaurantSubmitted">Not a valid URL!</span>
            </p>
            <button type="submit" class="save"><span class="fa fa-check"></span> Add</button>
            <button type="button" class="cancel" ng-click="hideEditForm('addRestaurant');"><span class="fa fa-remove"></span> Cancel</button>
        </form>







        <h2>Orders <a ng-show="auth.user" ng-click="showEditForm('addNom');" class="addNom-btn"><span class="fa fa-plus-circle"></span> Order now!</a></h2>

        <div ng-if="!nomzLength" class="order-info">
            <h3>Nobody's hungry huh? Sure you are! <span class="arrow"></span> <span>(Fun tip: you can just say "gladan/gladna sam" if you have a microphone :-)</span></h3>
            <!--p class="dummy-food"><img src="http://lorempixel.com/500/300/food/" /></p-->
        </div>

        <table ng-if="nomzLength" class="orders">
            <thead>
                <th>Name</th>
                <th class="nom">Nom</th>
                <th class="txtRight">Price</th>
                <th class="txtRight">Time</th>
                <th ng-show="superUser" class="txtRight">Paid</th>
            </thead>
            <tbody>
                <tr ng-repeat="thing in nomz | orderByPriority | orderBy:'-date'" ng-class="{'is-paid': thing.paid}">
                    <td>
                        {{ thing.name }}
                        <div ng-show="auth.user && auth.user.id == thing.userID">

                            <p><a class="action remove" ng-click="removeNom(thing.$id)" ng-show="!rowform.$visible"><span class="fa fa-times-circle"></span></a>
                            <a class="action edit" ng-click="rowform.$show()" ng-show="!rowform.$visible"><span class="fa fa-pencil-square-o"></span></a></p>

                            <form editable-form name="rowform" class="main-edit-form" id="{{ thing.$id }}" onshow="showEditForm(thing.$id);" oncancel="hideEditForm(thing.$id);" onaftersave="hideEditForm(thing.$id);" blur="cancel">

                                <p class="edit-title">Edit your order</p>

                                <span editable-text="thing.name" e-name="name" e-form="rowform"></span>
                                <span editable-text="thing.nom" e-name="nom" e-form="rowform"></span>
                                <span editable-text="thing.price" e-name="price" e-form="rowform"></span>

                                <button type="submit" class="save" ng-disabled="rowform.$waiting" ng-click="updateNom(thing.$id)">
                                    <span class="fa fa-check"></span> save
                                </button>
                                <button type="button" class="cancel" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                                    <span class="fa fa-remove"></span> cancel
                                </button>
                            </form>

                        </div>
                    </td>
                    <td class="nom">{{ thing.nom | lowercase }}</td>
                    <td class="txtRight">{{ thing.price| currency: 'HRK ' }}</td>
                    <td class="txtRight">{{ thing.date | date:'HH:mm' }}</td>
                    <td ng-show="superUser" class="txtRight paidLabel">
                        <label for="p_{{ thing.$id }}">
                            <input type="checkbox" id="p_{{ thing.$id }}" ng-checked="thing.paid" ng-click="nomz[thing.$id].paid = !nomz[thing.$id].paid; updateNom(thing.$id)" />
                            <span ng-if="!thing.paid" class="fa fa-square-o"></span>
                            <span ng-if="thing.paid" class="fa fa-check-square-o"></span>
                        </label>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-show="superUser">
                <tr>
                    <th class="txtRight" colspan="3">Total: {{ total | currency: 'HRK ' }}</th>
                    <th></th>
                    <th ng-show="superUser"></th>
                </tr>
            </tfoot>
        </table>


        <form name="form" class="main-edit-form" novalidate ng-submit="addNom(form)" ng-show="auth.user" id="addNom">
            <p class="edit-title">Your order</p>
            <p>
                <input ng-model="name" name="name" placeholder="* What is your name" required />
                <span class="error" ng-show="form.name.$error.required && (form.name.$dirty || nomSubmitted)">Required!</span>
            </p>
            <p>
                <input ng-model="nom" name="nom" placeholder="* What do you want to order" required />
                <span class="error" ng-show="form.nom.$error.required && (form.nom.$dirty || nomSubmitted)">Required!</span>
            </p>
            <p>
                <input type="number" name="price" ng-model="price" placeholder="* How much does it cost" min="1" required />
                <span class="error" ng-show="form.price.$error.required && (form.price.$dirty || nomSubmitted)">Required, number only!</span>
            </p>
            <button type="submit" class="save"><span class="fa fa-check"></span> Order</button>
            <button type="button" class="cancel" ng-click="hideEditForm('addNom');"><span class="fa fa-remove"></span> Cancel</button>
        </form>

        <h3><em>Bon appétit!</em></h3>

    </div>

    <span class="napkin"></span>
    <span class="pen"></span>
    <span class="projects">Upiši <br /> projectse!</span>

</div>